*::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
*:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Geometria';
	font-size: 16px;
	line-height: 26px;
	color: #3B3735;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 202px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
}
.header-top {
	padding: 7px 0;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	background: #27344B;
}
.header-top__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dropdown-location__value strong {
	font-weight: 500;
}
.dropdown-location__value i {
	margin-right: 15px;
}
.dropdown-location__value {
	cursor: pointer;
	transition: all 0.3s;
}
.menu {
	display: flex;
	align-items: center;
}
.menu li {
	padding: 0 22px;
}
.menu a {
	color: #fff;
}
.dropdown-location__value:hover,
.btn-user:hover,
.menu a:hover {
	color: #ffdc40;
}
.btn-user {
	color: #fff;
	display: inline-flex;
	align-items: center;
}
.btn-user i {
	margin-right: 14px;
	font-size: 18px;
}
.header-middle {
	padding: 11px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 136px;
	max-width: 100%;
	height: auto;
}
.btn-header {
	height: 52px;
	padding: 0 15px;
	font-size: 13px;
	line-height: 18px;
	color: #3B3735;
	background-color: #FFE000;
	border-radius: 8px;
	display: flex;
	align-items: center;
	transition: all 0.3s;
	position: relative;
	z-index: 1;
}
.btn-header strong {
	font-weight: 500;
	display: block;
}
.btn-header img {
	margin-right: 21px;
}
.btn-header::before {
	position: absolute;
	display: block;
	content: " ";
	top: 5px;
	left: 15px;
	right: 15px;
	bottom: 5px;
	background: #FFDC04;
	filter: blur(15px);
	z-index: -1;
	border-radius: 40px;
	transition: all 0.3s;
}
.search-form {
	width: 369px;
	max-width: 100%;
	position: relative;
}
.search-form input {
	font-size: 13px;
	line-height: 18px;
	height: 52px;
	color: #3B3735;
	padding: 0 23px;
	padding-right: 50px;
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	width: 100%;
}
.btn-search {
	width: 52px;
	height: 52px;
	top: 0;
	right: 0;
	position: absolute;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
}
.link-page {
	font-size: 13px;
	line-height: 18px;
	color: #3B3735;
	border-bottom: 1px solid #3B3735;
}
.link-page:hover {
	border-color: transparent;
}
.contacts-wrap {
	text-align: right;
}
.contacts-wrap a {
	color: #3B3735;
	vertical-align: middle;
	display: inline-block;
}
.phone-main {
	font-weight: 700;
}
.contacts-wrap a i {
	font-size: 18px;
	margin-right: 12px;
}
.soc-link {
	margin-right: 15px;
}
.menu-catalog {
	padding-top: 14px;
	padding-bottom: 11px;
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	line-height: 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.menu-catalog a {
	color: #3B3735;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	font-weight: 700;
}
.menu-catalog a:hover {
	border-color: #3B3735;
}
.menu-catalog li {
	padding: 0 20px;
}
.menu-catalog li:first-child {
	padding-left: 0;
}
.menu-catalog li:last-child {
	margin-right: 0;
}

.billbord-content {
	padding: 44px 70px;
	min-height: 530px;
	color: #fff;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-section {
	font-size: 40px;
	line-height: 56px;
}
.billbord-content .title-section {
	color: #FFDC04;
}
.billbord-content .title-section strong {
	color: #fff;
}
.list-page {
	font-size: 18px;
	line-height: 29px;
	font-weight: 500;
}
.list-page li {
	padding-left: 20px;
	position: relative;
}
.list-page li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 5px;
	height: 5px;
	background: #FFE30F;
	border-radius: 50%;
	top: 10px;
	left: 0;
}
.btn-main {
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	padding: 0 27px;
	height: 56px;
	background-color: #FFDC04;
	border-radius: 40px;
	color: #3B3735;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Geometria';
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.btn-main::before {
	position: absolute;
	display: block;
	content: " ";
	top: 5px;
	left: 15px;
	right: 15px;
	bottom: 5px;
	background: #FFDC04;
	filter: blur(15px);
	z-index: -1;
	border-radius: 40px;
	transition: all 0.3s;
}
.btn-header:hover::before,
.btn-main:hover::before {
	transform: scale(1.2);
}
.billbord-content .list-page {
	margin-bottom: 21px;
}
.billbord-content .title-section {
	margin-bottom: 12px;
}

.item-benefit {
	font-size: 15px;
	line-height: 21px;
}
.item-benefit__head {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1E2738;
	display: flex;
	align-items: flex-start;
}
.item-benefit__head img {
	margin-right: 15px;
	margin-top: 6px;
}
.slider-benefits,
.row_benefits {
	margin: 0 -30px;
	margin-top: 38px;
}
.slider-benefits .slick-slide,
.row_benefits > div {
	padding: 0 30px;
	padding-top: 23px;
	padding-bottom: 48px;
	border-right: 1px solid #D9D9D9;
}
.slider-benefits .slick-slide:last-child,
.row_benefits > div:last-child {
	border: none;
}
.item-offer {
	height: 320px;
	border-radius: 15px;
	margin: 0 8px;
	position: relative;
	display: block;
	overflow: hidden;
}
.slider-offers {
	margin: 0 -8px;
	margin-top: 37px;
}
.item-offer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 15px;
}
.item-offer:hover img {
	transform: scale(1.05);
}
.item-offer::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 15px;
	background: linear-gradient(180deg, rgba(30, 39, 56, 0.1) 0%, #1E2738 100%);
}
.item-offer__title {
	padding: 25px 13px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.offers {
	padding-top: 59px;
}
.categories {
	padding-top: 64px;
	padding-bottom: 76px;
}
.descr-section {
	font-size: 18px;
	line-height: 29px;
	padding-top: 20px;
}
.categories .descr-section {
	max-width: 650px;
}
.item-category {
	padding: 48px 74px;
	padding-bottom: 62px;
	min-height: 100%;
	border-right: 1px solid #27344B;
	background-color: #1E2738;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s;
}
.item-category:hover {
	background-color: #27344B;
}
.item-category__title {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFDC04;
	display: block;
	position: relative;
}
.item-category__title::after {
	position: absolute;
	display: block;
	content: " ";
	top: 100%;
	left: 0;
	width: 35px;
	height: 55px;
	background-image: url(../img/tumblr.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.item-category__image {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.item-category__image img {
	transition: all 0.9s;
}
.item-category__hover img,
.item-category__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-category__center {
	position: relative;
	height: 300px;
	margin-bottom: 39px;
	width: 100%;
}
.item-category__list {
	font-size: 18px;
	line-height: 36px;
	position: absolute;
	top: 17px;
	left: 0;
	right: -70px;
	max-height: 100%;
	visibility: hidden;
	overflow: auto;
	z-index: 2;
	transition: ease-in 0.3s;
	opacity: 0;
}
.item-category__list::-webkit-scrollbar {
	-webkit-appearance: none;
}
.item-category__list::-webkit-scrollbar:vertical {
	width: 3px;
}
.item-category__list::-webkit-scrollbar:horizontal {
	height: 3px;
}
.item-category__list::-webkit-scrollbar-thumb {
	background-color: #FFDC04;
	border-radius: 10px;
}
.item-category__list::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #fff;
}
.item-category:hover .item-category__image img {
	opacity: 0;
}
.item-category:hover .item-category__list {
	opacity: 1;
	visibility: visible;
	transition-delay: 1.2s;
}
.item-category:hover .item-category__hover {
	animation: fadein 1.5s ease-in alternate;
}
.item-category__hover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;

}
@keyframes fadein {
	0%   
	{ 
		opacity: 0; 
	}
	50% 
	{ 
		opacity: 1; 
	}
	100% 
	{ 
		opacity: 0; 
	}
}

.item-category__hover img {
	transition: all 0.5s;
	opacity: 1 !important;
}
.item-category__list a {
	color: #fff;
}
.item-category__list a:hover {
	color: #FFDC04;
}
.row_categories {
	margin: 0;
}
.row_categories > div {
	padding: 0;
}
.row_categories > div:last-child .item-category {
	padding-right: 0;
} 
.row_categories > div:last-child .item-category__image {
	justify-content: flex-end;
}
.item-category .btn-main {
	margin-top: auto;
}
.row_categories {
	margin-top: 48px;
}
.slider-catalog .slick-track {
	display: flex !important;
}
.slider-catalog .slick-slide {
	height: inherit !important;
}
.item-catalog {
	min-height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: #FFFFFF;
	border: 1px solid #F5F5F5;
	position: relative;
}
.item-catalog__image {
	height: 252px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-catalog__content {
	padding: 24px 34px;
	padding-right: 27px;
	padding-bottom: 21px;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.articul {
	font-size: 14px;
	line-height: 20px;
	color: #000;
	margin-bottom: 16px;
}
.item-catalog__title {
	line-height: 22px;
	width: 100%;
	margin-bottom: auto;
	font-weight: 700;
	color: #3B3735;
	display: block;
}
.item-catalog__prices {
	padding-top: 26px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.price-old {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 8px;
	text-decoration-line: line-through;
	color: #000000;
}
.price-main {
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
}
.discount-main {
	font-size: 14px;
	line-height: 20px;
	padding: 7px 9px;
	background: #F6FAFC;
	border-radius: 6px;
	color: #000;
	display: inline-block;
}
.quantity {
	width: 130px;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	display: flex;
}
.quantity-button {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 16px;
	line-height: 22px;
	color: #2f2f39;
	font-family: 'Geometria';
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 400;
}
.quantity input {
	flex: 1;
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #2f2f39;
	border: none;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	font-family: 'Geometria';
	text-align: center;
	font-weight: 400;
	background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}
.item-catalog__buttons {
	padding-top: 18px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn-basket {
	border-radius: 8px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFDC04;
}
.btn-basket:hover {
	background-color: #e2c300;
}
.catalog {
	padding-top: 36px;
	padding-bottom: 63px;
	background: rgba(245, 245, 245, 0.3);
}
.slider-catalog {
	margin-top: 42px;
}
.slick-arrow {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #3B3735;
	font-size: 20px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	background: #FFFFFF;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
	transition: all 0.3s;
	cursor: pointer;
}
.slick-arrow:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);	
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-arrow::before {
	display: none !important;
}
.slider-catalog .slick-prev {
	left: -60px;
}
.slider-catalog .slick-next {
	right: -60px;
}
.consultation-block {
	padding-left: 80px;
	color: #fff;
	background: #1E2738;
	border-radius: 0px 22px 0px 0px;
}
.title-big {
	font-size: 48px;
	line-height: 67px;
}
.title-big strong {
	color: #FFDC04;
}
.consultation-block .title-big {
	padding-top: 49px;
	margin-bottom: 80px;
	max-width: 685px;
}
.list-main li {
	padding-left: 40px;
	margin-bottom: 63px;
	position: relative;
}
.list-main li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 24px;
	height: 24px;
	top: 5px;
	left: 0;
	filter: drop-shadow( 0px 0px 8px #FFE30F);
	background-image: url(../img/li.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.list-main li strong {
	font-weight: 500;
}
.consultation-block .list-main {
	max-width: 370px;
}
.right-consultation {
	min-height: 100%;
	background: #27344B;
	border-top-right-radius: 20px;
	position: relative;
}
.info-consultation {
	font-size: 18px;
	line-height: 29px;
	padding: 38px 59px;
	padding-right: 42px;
	font-weight: 500;
	color: #1E2738;
	background: #FFDC04;
	margin-right: -1px;
	border-radius: 0px 20px;
	background-image: url(../img/light.svg);
	background-repeat: no-repeat;
	background-position: 17px 32px;
}
.checkbox {
	font-size: 12px;
	line-height: 15px;
	margin-top: 35px;
	color: #D9D9D9;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 5px 0 0 28px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #D9D9D9;
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #D9D9D9;
	font-size: 9px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-form {
	margin-bottom: 20px;
}
.item-form input {
	height: 40px;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Geometria';
	padding: 0 6px;
	color: #fff;
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #fff;
}
.title-form {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFFFFF;
}
.descr-form {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 25px;
}
.consultation-form {
	padding: 57px 52px;
	padding-bottom: 30px;
}
.consultation-form .btn-main {
	width: 220px;
	padding: 0 10px;
	display: flex;
	margin: 0 auto;
	margin-top: 55px;
}
.image-conusltation {
	right: 100%;
	margin-right: -80px;
	bottom: 0;
	position: absolute;
	pointer-events: none;
}
.head-portfolio {
	margin-bottom: 36px;
	display: flex;
	align-items: center;
}
.head-portfolio__info {
	padding: 68px 42px;
	font-size: 20px;
	line-height: 28px;
	margin-right: 63px;
	width: 219px;
	font-weight: 700;
	background: #FFDC04;
	border-radius: 0px 0px 0px 20px;
	flex: none;
}
.tabs {
	padding: 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #FBFBFB;
	text-align: center;
}
.tabs li {
	flex: 0;
}
.tabs a {
	font-size: 15px;
	line-height: 21px;
	padding: 19px 10px;
	font-weight: 700;	
	color: #3B3735;
	text-transform: uppercase;
	display: inline-block;
	text-align: left;
	border-bottom: 3px solid transparent;
	position: relative;
}
.tabs a::before {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: 0px;
	right: 0px;
	height: 30px;
	background: #FFDC04;
	filter: blur(15px);
	z-index: -1;
	border-radius: 40px;
	opacity: 0;
	transition: all 0.3s;
}
.tabs a:hover::before,
.tabs .active a::before {
	opacity: 1;
}
.tabs a:hover,
.tabs .active a {
	border-color: rgba(255, 220, 4, 0.5);
}
.tabs li:nth-child(3) a {
	width: 253px;
}
.tab-container {
	padding-top: 36px;
}
.item-portfolio {
	line-height: 22px;
	min-height: 100%;
	background: rgba(245, 245, 245, 0.4);
}
.item-portfolio__image {
	height: 360px;
	display: block;
	width: 100%;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-portfolio__content {
	padding: 19px 32px;
	padding-bottom: 25px;
	padding-right: 24px;
}
.item-portfolio__title {
	font-size: 22px;
	line-height: 35px;
	margin-bottom: 14px;
	display: block;
	color: #3B3735;
	font-weight: 500;
}
.item-portfolio strong {
	font-weight: 500;
}
.item-portfolio__bottom {
	margin-top: 23px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item-portfolio__buttons {
	display: flex;
	align-items: center;
}
.item-portfolio .btn-main {
	height: 46px;
	margin-left: 10px;
}
.item-portfolio .btn-main::before {
	transform: scale(0);
}
.item-portfolio .btn-main:hover::before {
	transform: scale(1);
}
.row_portolio > div {
	margin-bottom: 30px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.portfolio {
	padding-bottom: 20px;
}
.advantages-block {
	padding-left: 68px;
	color: #fff;
	background-image: url(../img/bg_avd.jpg);
	background-repeat: no-repeat;
	background-position: center left;
	background-size: cover;
}
.list-arrows {
	line-height: 22px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list-arrows li {
	padding-left: 66px;
	margin-bottom: 80px;
	width: 42%;
	position: relative;
}
.list-arrows li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 0;
	left: 0;
	box-shadow: 0px 0px 15px #FFE30F;
	background-color: #FFDC04;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.advantages-block .title-section {
	padding-top: 45px;
	padding-bottom: 63px;
	max-width: 594px;
}
.advantages-block .title-section strong {
	color: #FFDC04;
}
.about {
	padding-top: 80px;
}
.about-info {
	min-height: 100%;
	padding: 34px 46px;
	padding-right: 25px;
	background: #27344B;
}
.about-logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 29px;
	margin-bottom: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}
.about-logo__image {
	margin-right: 21px;
}
.about-logo__image img {
	max-width: 126px;
}
.about-info__list {
	line-height: 22px;
	max-width: 240px;
}
.about-info__list li {
	margin-bottom: 20px;
	padding-left: 25px;
	position: relative;
}
.about-info__list li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 12px;
	height: 10px;
	top: 5px;
	left: 0;
	background-image: url(../img/li2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.about-info__vertical {
	font-weight: 700;
	margin-left: 5px;
	margin-bottom: 13px;
	font-size: 36px;
	line-height: 58px;
	text-transform: uppercase;
	color: #FFDC04;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}
.about-info__center {
	margin-left: -15px;
	margin-bottom: 34px;
	display: flex;
	align-items: center;
}
.contacts-line {
	font-size: 20px;
	line-height: 40px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.contacts-line__title {
	color: #FFDC04;
	min-width: 88px;
	margin-right: 20px;
}
.contacts-line__value {
	font-weight: 400;
	color: #fff;
}
.contacts-line__phone {
	font-size: 22px;
	line-height: 44px;
	font-weight: 700;
	color: #fff;
}
.about-info__button {
	padding-top: 37px;
	display: flex;
	justify-content: center;
}
.clients {
	padding-top: 53px;
	padding-bottom: 60px;
}
.clients .title-section {
	padding-bottom: 44px;
}
.item-client {
	height: 218px;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-client img {
	max-width: 100%;
	max-height: 100%;
}
.clients .slick-prev {
	left: -50px;
}
.clients .slick-next {
	right: -50px;
}
.estimation-block {
	padding: 42px 80px;
	padding-bottom: 52px;
	color: #fff;
	background-image: url(../img/bg_estimation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.estimation-block .title-section strong {
	color: #FFDC04;
}
.file-upload input {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	padding: 0;
}
.file-upload label {
	font-size: 14px;
	line-height: 20px;
	padding: 0 24px;
	padding-right: 44px;
	height: 58px;
	background-color: #27344B;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font-weight: 400;
	display: inline-flex;
	transition: all 0.3s;
	align-items: center;
}
.file-upload label i {
	font-size: 18px;
	margin-right: 26px;
	color: #fff;
}
.file-upload label span {
	border-bottom: 1px solid #D9D9D9;
	transition: all 0.3s;
}
.file-upload {
	text-align: left;
	position: relative;
}
.name-upload {
	font-size: 12px;
	position: absolute;
	top: 100%; 
	left: 0;
}
.estimation-block__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.estimation-block__buttons .btn-main {
	padding: 0 10px;
	width: 220px;
}
.estimation-block .item-form {
	margin-bottom: 40px;
}
.estimation-block .title-section {
	margin-bottom: 44px;
}
.about-item__title {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
	margin-bottom: 6px;
	color: #FFDC04;
}
.about-item__title strong {
	font-size: 40px;
	line-height: 56px;
	margin-right: 14px;
	font-weight: 700;
}
.about-item__title sup {
	font-size: 14px;
}
.about-item {
	font-size: 15px;
	line-height: 21px;
	max-width: 190px;
}
.about-block {
	padding: 57px 123px;
	padding-bottom: 64px;
	color: #fff;
	background: #1E2738;
}
.about .title-section {
	font-weight: 500;	
}
.about .descr-section {
	font-weight: 500;
	max-width: 586px;
}
.about__text strong {
	font-weight: 500;
}
.about__text p {
	margin-top: 20px;
}
.row_about:nth-child(even) {
	flex-direction: row-reverse;
}
.row_about:nth-child(odd) .about-block {
	margin-left: -30px;
}
.form-page {
	padding: 30px 60px;
	padding-bottom: 36px;
	color: #fff;
	background-color: #27344B;
}
.form-page .title-big {
	margin-bottom: 20px;
	text-align: center;
}
.form-page .item-form {
	margin: 0;
}
.col-btn {
	padding: 0 15px;
}
.form-page .item-form input {
	height: 50px;
}
.consultation-bottom {
	padding-bottom: 50px;
}
.footer {
	font-size: 14px;
	line-height: 20px;
	padding-top: 43px;
	color: #fff;
	background-color: #1E2738;
}
.social-list {
	display: flex;
	align-items: center;
}
.social-list a {
	font-size: 22px;
	color: #fff;
}
.social-list li {
	margin-right: 40px;
}
.social-list li:last-child {
	margin-right: 0;
}
.footer .logo img {
	width: 149px;
}
.footer .logo {
	margin-bottom: 44px;
}
.footer__nav_big a,
.footer__title {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 9px;
	font-weight: 700;
	text-transform: uppercase;
}
.footer__nav a {
	color: #fff;
}
.footer__nav a:hover {
	color: #FFDC04;
}
.footer__nav li {
	margin-bottom: 23px;
}
.footer__nav_big a {
	margin: 0;
}
.footer__nav_big li {
	margin: 0;
}
.footer__nav_big {
	line-height: 26px;
}
.footer p {
	margin: 0;
}
.footer strong {
	font-weight: 500;
}
.footer p a {
	color: #fff;
}
.footer-bottom {
	font-size: 14px;
	line-height: 21px;
	margin-top: 43px;
	color: #B1B1B1;
	padding: 15px 0;
	border-top: 1px solid #545353;
}
.footer-bottom a {
	color: #B1B1B1;
}
.footer-bottom a:hover {
	color: #fff;
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 15px;
}
.btn_top {
	font-size: 15px;
	float: right;
	position: relative;
	color: #3B3735 !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #FFDC04;
	z-index: 3;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: #cbaf00;
}
.footer__title i {
	display: none;
}
.col_pl {
	padding-left: 0;
}
.form-page .btn-main {
	padding: 0 32px;
}
.slider-benefits .slick-track {
	display: flex !important;
}
.slider-benefits .slick-slide {
	height: inherit !important;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 39px;
	height: 39px;
	padding-top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	display: none;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 25px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #3B3735;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 25px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #3B3735;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 14px;
	width: 25px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #3B3735;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.buttons-fixed {
	position: fixed;
	top: 250px;
	right: 0;
	z-index: 100;
}
.btn-fixed {
	width: 55px;
	height: 55px;
	background: #FFB51E;
	font-size: 22px;
	color: #1E2738;
	border-radius: 8px 0px 0px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.btn-fixed__value {
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 17px;
	top: 10px;
	right: 8px;
	font-weight: 500;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	z-index: 1;
	background: #1E2738;
	position: absolute;
}
.btn-fixed:hover {
	background: #FFDD04;
}
.btn-fixed::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #FFDC04;
	filter: blur(15px);
	z-index: -1;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.3s;
}
.btn-fixed:hover::before {
	opacity: 1;
}
.btn-fixed_mob {
	display: none;
}
.row_categories > div:nth-child(1) .item-category__hover,
.row_categories > div:nth-child(1) .item-category__image {
	left: -51px;
	right: -51px;
	top: -90px;
}
.row_categories > div:nth-child(2) .item-category__hover {
	right: -4px;
}
.breadcrumbs {
	padding-top: 11px;
	padding-bottom: 18px;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #3B3735;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #3B3735;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.tags-list {
	padding: 7px 11px;
	padding-bottom: 15px;
	margin-bottom: 31px;
	display: flex;
	align-items: center;
	background: #FBFBFB;
	flex-wrap: wrap;
}
.tags-list a {
	font-size: 14px;
	line-height: 20px;
	padding: 8px 14px;
	margin-right: 6px;
	margin-top: 7px;
	font-weight: 500;
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	color: #3B3735;
}
.tags-list .active a,
.tags-list a:hover {
	border-color: #FFDC04;
}
.portfolio-page .descr-section {
	padding-top: 11px;
	padding-bottom: 11px;
}
.pager {
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	width: 28px;
	height: 28px;
	margin: 0 15px;
	font-weight: 500;
	color: #27344B;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.page-numbers.current {
	border-color: #FFDC04;
}
.prev.page-numbers,
.next.page-numbers {
	width: 40px;
	height: 40px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
}
.prev.page-numbers {
	margin-right: 110px;
}
.next.page-numbers {
	margin-left: 110px;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);	
}
.portfolio-page {
	padding-bottom: 45px;
}
.portfolio-page ~ .consultation {
	padding-bottom: 50px;
}
.news-page {
	padding-bottom: 41px;
}
.news-page .title-section {
	padding-bottom: 22px;
}
.item-news {
	font-size: 14px;
	line-height: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	background: rgba(245, 245, 245, 0.4);
	transition: all 0.3s;
}
.item-news:hover {
	box-shadow: 0 0 10px #ccc;	
}
.item-news__image {
	height: 290px;
	display: block;
	width: 100%;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-news__content {
	padding: 18px 23px;
	padding-right: 35px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	flex: 1;
}
.item-news__title {
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 8px;
	font-weight: 500;
	color: #3B3735;
	display: block;
	width: 100%;
}
.item-news__title:hover {
	color: #FFB51E;
}
.link-simple {
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: #3B3735;
	border-bottom: 1px solid #3B3735;
}
.link-simple:hover {
	border-color: transparent;
}
.item-news .link-simple {
	margin-top: auto;
	margin-left: auto;
}
.item-news p {
	margin-bottom: 15px;
}
.row_news > div {
	margin-bottom: 32px;
}
.article {
	padding-bottom: 70px;
}
.article .item-news {
	margin-bottom: 35px;
	min-height: auto;
}
.article .item-news:last-child {
	margin-bottom: 0;
}
.article-content p {
	margin-bottom: 20px;
}
.article-content img {
	max-width: 100%;
	margin-bottom: 22px;
	height: auto;
}
.article-content blockquote {
	font-size: 18px;
	line-height: 29px;
	padding: 55px 65px;
	padding-right: 90px;
	margin: 0;
	margin-bottom: 34px;
	border-left: 6px solid #FFDD04;
	background: rgba(245, 245, 245, 0.4);
	font-weight: 500;
}
.article-content blockquote p {
	margin: 0;
}
.article h1 {
	font-size: 36px;
	line-height: 50px;
	margin-bottom: 21px;
	font-weight: 500;
}
.article-content {
	padding-right: 85px;
}
.article-content h3 {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 22px;
}
.article-content p strong {
	font-weight: 500;
}
.article-content li::before {
	position: absolute;
	display: block;
	content: "●";
	top: 0;
	left: 0;
}
.article-content li {
	position: relative;
	padding-left: 15px;
}
.article-content ul {
	margin-bottom: 20px;
}
.contacts-page {
	padding-bottom: 40px;
}
.item-contact {
	padding-left: 30px;
	margin-bottom: 33px;
	position: relative;
}
.item-contact::before {
	position: absolute;
	display: block;
	content: " ";
	width: 6px;
	height: 35px;
	top: 0;
	left: 0;
	background: #FFDD04;
}
.item-contact__title {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 15px;
}
.item-contact p a {
	color: #3B3735;
}
.item-contact p strong {
	font-weight: 500;
}
.form-main {
	padding: 40px 60px;
	color: #fff;
	background-color: #27344B;
}
.form-main .btn-main {
	width: 220px;
	padding: 0 10px;
	display: flex;
	margin: 0 auto;
	margin-top: 40px;
}
#map {
	height: 435px;
	margin-top: 40px;
	width: 100%;
	background-color: #ccc;
}
.contacts-page .breadcrumbs {
	padding-bottom: 30px;
}
.contacts-page .descr-form {
	max-width: 280px;
}

.about-page .title-section {
	font-weight: 500;
}
.about-page .descr-section {
	padding-top: 10px;
	max-width: 586px;
	font-weight: 500;
}
.about-page .about-block {
	margin-top: 22px;
	margin-bottom: 36px;
	padding-right: 0;
}
.about-content strong {
	font-weight: 500;
}
.about-content p {
	margin-top: 20px;
}
.about-content img {
	max-width: 100%;
	height: auto;
}
.clients-page {
	padding-top: 48px;
	padding-bottom: 52px;
}
.clients-page .title-section {
	padding-bottom: 34px;
	max-width: 1152px;
}
.row_clients {
	margin: 0;
}
.row_clients > div {
	padding: 0;
}
.row_clients .item-client {
	border: none;
	border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}
.row_clients > div:last-child .item-client {
	border-right: 1px solid #D9D9D9;
}
.sertificats-block {
	padding: 51px 87px;
	padding-bottom: 67px;
	color: #fff;
	background-color: #1E2738;
}
.sertificats-block .title-section {
	padding-bottom: 46px;
	font-weight: 700;
	color: #FFDC04;
}
.slider-sertificats {
	margin: 0 -40px;
}
.item-sertificat {
	height: 502px;
	margin: 0 40px;
	display: block;
}
.item-sertificat img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.sertificats-block .slick-prev {
	left: -25px;
}
.sertificats-block .slick-next {
	right: -25px;
}
.about-page ~ .consultation {
	padding-bottom: 50px;
}
.cooperation-block {
	padding: 33px 87px;
	padding-bottom: 160px;
	color: #fff;
	background: #1E2738;
}
.cooperation-form {
	padding: 39px 74px;
	margin-right: 60px;
	min-height: 100%;
	background: #27344B;
}
.cooperation-info {
	padding: 39px 87px;
	padding-bottom: 51px;
	padding-right: 75px;
	font-size: 20px;
	line-height: 28px;
	min-height: 100%;
	background: #27344B;
}
.cooperation-info p a {
	border-bottom: 1px solid #FFDC04;
	font-weight: 500;
	color: #FFDC04;
}
.title-block {
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFDC04;
}
.cooperation-block .title-section {
	padding-bottom: 41px;
	color: #FFDC04;
	font-weight: 700;
	text-align: center;
}
.cooperation-info .btn-main {
	min-width: 220px;
	margin-top: 13px;
}
.cooperation-form__bottom {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cooperation-form .checkbox {
	margin: 0;
}
.cooperation-form .btn-main {
	min-width: 220px;
}
.checkbox_main label span {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 60px;
}
.checkbox_main label span:before {
	top: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
.checkbox_main label span:after {
	width: 30px;
	height: 30px;
	font-size: 15px;
	top: 0;
	color: #FFDC04;
}
.checkbox_main {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}
.cooperation-form  .checkbox_main {
	margin-bottom: 30px;
}
.col_pr {
	padding-right: 0;
}
.cooperation {
	padding-bottom: 61px;
}
.item-dropdown {
	margin-bottom: 22px;
	background: #FFFFFF;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
}
.item-dropdown__head {
	font-size: 22px;
	line-height: 35px;
	padding: 25px 21px;
	padding-left: 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-dropdown__arrow {
	width: 40px;
	height: 40px;
	font-size: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F5F5F5;
	flex: none;
}
.item-dropdown__title {
	margin-right: auto;
	font-weight: 700;
}
.item-dropdown__content {
	padding: 0 34px;
	padding-bottom: 65px;
	display: none;
}
.item-dropdown__content strong {
	font-weight: 500;
}
.vacancies {
	padding-top: 49px;
	padding-bottom: 30px;
	background: rgba(245, 245, 245, 0.3);
}
.item-dropdown__value {
	margin-right: 29px;
	opacity: 0;
	font-weight: 500;
	transition: all 0.3s;
}
.item-dropdown.active .item-dropdown__value {
	opacity: 1;
}
.form-main .file-upload label {
	padding-right: 33px;
	background-color: #1E2738;
}
.form-main .file-upload {
	text-align: center;
}
.vacancies .form-main {
	padding-bottom: 50px;
}
.vacancies .title-form {
	margin-bottom: 20px;
}
.vacancies .file-upload label i {
	margin-right: 20px;
}
.actions-page {
	padding-top: 29px;
	padding-bottom: 136px;
	background: rgba(245, 245, 245, 0.3);
}
.image-action {
	margin-bottom: 48px;
	height: 298px;
}
.image-action img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.row_catalog {
	margin: 0;
}
.row_catalog > div {
	padding: 0;
}
.item-service {
	display: block;
	position: relative;
}
.item-service__image {
	height: 656px;
	width: 100%;
	display: block;
}
.item-service__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-service__content {
	padding: 48px 74px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}
.item-service__title {
	font-size: 24px;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFDC04;
	display: block;
}
.services-page {
	padding-top: 29px;
	padding-bottom: 50px;
	background: rgba(245, 245, 245, 0.3);
}
.row_services {
	margin: 0;
}
.row_services > div {
	padding: 0;
}
.text-block p {
	margin-bottom: 20px;
}
.text-block p strong {
	font-weight: 500;
}
.text-block .descr-section {
	padding-top: 10px;
	padding-bottom: 29px;
	font-weight: 500;
}
.text-block .title-section {
	font-weight: 500;
}
.text-block {
	padding-top: 50px;
}
.delivery-page {
	padding-bottom: 58px;
}
.delivery-page .tabs li {
	flex: initial;
}
.delivery-page .tabs {
	max-width: 702px;
	margin: 0 auto;	
	justify-content: space-between;
}
.delivery-page .tabs li:nth-child(3) a {
	width: auto;
}
.delivery-page .tabs a {
	padding-left: 0;
	padding-right: 0;
}
.delivery-page .title-section {
	padding-bottom: 17px;
	font-weight: 500;
}
.delivery-block {
	padding: 38px 52px;
	padding-bottom: 45px;
	font-size: 20px;
	line-height: 26px;
	background-color: #FBFBFB;
	position: relative;
}
.delivery-block__title::before {
	position: absolute;
	display: block;
	content: " ";
	width: 6px;
	height: 35px;
	top: 0px;
	left: -52px;
	background: #FFDD04;
}
.delivery-block__title {
	font-size: 24px;
	line-height: 34px;
	color: #27344B;
	margin-bottom: 20px;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
}
.delivery-block p a {
	color: #3B3735;
}
.delivery-block p strong {
	font-weight: 500;
}
.image-delivery {
	display: flex;
	justify-content: center;
}
.delivery-block_right {
	line-height: 32px;
}
.form-delivery {
	padding-top: 55px;
	padding-bottom: 33px;
	padding-right: 85px;
	margin-top: 33px;
	color: #fff;
	background-color: #27344B;
}
.form-delivery .title-block {
	padding-left: 70px;
	padding-top: 8px;
}
.form-delivery .btn-main {
	min-width: 220px;
}
.form-delivery .checkbox {
	margin-top: 10px;
}
.row_form {
	margin: 0 -25px;
}
.row_form > div {
	padding: 0 25px;
}
.row_delivery > div {
	margin-top: 45px;
}
.row_delivery .delivery-block {
	min-height: 100%;
}
.delivery-block li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 0;
}
.delivery-block li {
	position: relative;
	padding-left: 15px;
}
.service-page .billbord-content .title-section {
	margin-bottom: 23px;
	text-transform: uppercase;
	font-weight: 700;
}
.descr-billbord {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 72px;
	font-weight: 500;
	max-width: 602px;
}
.service-page .billbord-content {
	padding-top: 108px;
	margin-bottom: 48px;
	background-image: url(../img/billbord_service1.jpg);
}
.service-page .billbord-content .btn-main {
	min-width: 220px;
}
.descr-big {
	font-size: 20px;
	line-height: 32px;
	padding-top: 10px;
	font-weight: 500;
}
.service-about .title-section {
	font-weight: 500;
}
.service-about .row_delivery > div {
	margin-top: 35px;
}
.service-about {
	padding-bottom: 73px;
}
.title-middle {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #27344B;
}
.service-info > .row:nth-child(even) {
	flex-direction: row-reverse;
}
.service-info__image {
	display: flex;
}
.service-info__image img {
	max-width: 100%;
	height: auto;
}
.service-info > .row:nth-child(even) .service-info__image {
	justify-content: flex-end;
}
.service-info > .row:nth-child(even) .service-info__content {
	margin-left: 0;
	margin-right: -30px;
}
.service-info {
	font-size: 18px;
	line-height: 25px;
}
.service-info p {
	margin-bottom: 20px;
}
.service-info__content {
	margin-left: -30px;
}
.service-info > .row {
	margin-bottom: 65px;
}
.service-test {
	padding: 84px;
	padding-top: 37px;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 56px;
	background-color: #1E2738;
	color: #fff;
}
.service-test p {
	margin-bottom: 20px;
}
.service-test__left {
	padding-right: 30px;
	min-height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.service-test__left .btn-main {
	margin-top: auto;
	min-width: 220px;
}
.service-test img {
	max-width: 100%;
	height: auto;
}
.service-test .title-section {
	padding-bottom: 45px;
	text-align: center;
	font-weight: 700;
	color: #FFDC04;
}
.title-main {
	font-size: 32px;
	line-height: 45px;
	margin-bottom: 40px;
	font-weight: 500;
	color: #27344B;
}
.service-offer .title-main {
	margin-bottom: 40px;
	max-width: 1140px;
}
.service-offer {
	padding-bottom: 67px;
}
.unit-service {
	height: 456px;
	overflow: hidden;
	display: block;
	position: relative;
}
.unit-service img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.unit-service:hover img {
	transform: scale(1.05);
}
.unit-service::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(30, 39, 56, 0.1) 0%, #1E2738 100%);
}
.unit-service__title {
	padding: 32px 35px;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.consultation-bottom .btn-main {
	min-width: 220px;
}
.service-page ~ .consultation-bottom {
	padding-bottom: 67px;
}
.service-about .delivery-block {
	padding-right: 130px;
}
.catalog-page {
	padding-bottom: 72px;
}
.sidebar-filter {
	padding-bottom: 26px;
	background-color: #FBFBFB;
}
.item-filter {
	border-bottom: 1px solid #D9D9D9;
}
.item-filter__head {
	padding: 15px 25px;
	font-weight: 500;
	line-height: 22px;
	color: #27344B;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-filter__head i {
	font-size: 14px;
	transition: all 0.3s;
}
.item-filter.active .item-filter__head i {
	transform: rotate(180deg);
}
.checkbox_page {
	font-size: 15px;
	line-height: 24px;
	margin-top: 0 !important;
	margin-bottom: 15px;
	color: #3B3735;
}
.checkbox_page label span:before {
	top: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #D9D9D9;
	background-color: #fff;
	border-radius: 6px;
}
.checkbox_page label span:after {
	width: 30px;
	height: 30px;
	font-size: 11px;
	top: 0;
	color: #1E2738;
}
.checkbox_page label span {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 40px;
}
.item-filter__content {
	padding: 0 25px;
	display: none;
}
.bottom-button {
	padding-top: 27px;
	text-align: center;
}
.bottom-button .btn-main {
	min-width: 163px;
}
.item-filter_open .item-filter__content {
	display: block;
}
.range-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.input-range {
	width: 48%;
}
.input-range input {
	width: 100px;
	height: 38px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	padding: 0 14px;
	border-radius: 6px;
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	color: #3B3735;
	font-family: 'Geometria';
}
.irs--flat .irs-line {
	height: 6px;
	border-radius: 6px;
	background-color: #D9D9D9;
}
.irs--flat .irs-bar {
	height: 6px;
	border-radius: 6px;
	background-color: #FFDC04;
}
.irs-handle i {
	display: none !important;
}
.irs--flat .irs-handle {
	width: 14px;
	height: 14px;
	top: 20px;
	background: #FFB51E;
	box-shadow: 0px 4px 4px rgba(255, 184, 29, 0.25);
	border: none;
	cursor: pointer;
	border-radius: 50%;
}
.irs--flat .irs-min, .irs--flat .irs-max {
	display: none !important;
}
.range-catalog > input {
	position: absolute !important;
	display: block !important;
	top: 0 !important;
	left: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
	outline: none !important;
	z-index: -9999 !important;
	background: none !important;
	border-style: solid !important;
	border-color: transparent !important;
}
.range-catalog {
	margin-bottom: 20px;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none !important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
	display: none;
}
.tags-catalog {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.tags-catalog a {
	padding: 7px 20px;
	margin-right: 15px;
	margin-top: 16px;
	color: #3B3735;
	line-height: 32px;
	display: inline-block;
	background-color: #F3F3F3;
	border-radius: 30px;
}
.tags-catalog .active a,
.tags-catalog a:hover {
	background-color: #FFDC04;
}
.catalog-page .title-section {
	padding-bottom: 8px;
}
.sorting-catalog {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.sorting-title {
	margin-right: 15px;
	font-weight: 500;
}
.item-sorting {
	margin-right: 50px;
	cursor: pointer;
	color: #3B3735;
}
.item-sorting:last-child {
	margin-right: 0;
}
.status-catalog {
	font-weight: 500;
	font-size: 12px;
	line-height: 17px;
	padding: 6px 12px;
	background: #A9E879;
	border-radius: 0px 6px;
	top: 16px;
	left: 16px;
	min-width: 69px;
	text-align: center;
	color: #3B3735;
	position: absolute;
}
.status-catalog.hit {
	background: #A9E879;
}
.status-catalog.action {
	background: #FFB51E;
}
.catalog-page .pager {
	margin-top: 40px;
}
.text-section {
	font-size: 18px;
	line-height: 25px;
}
.text-section {
	padding-bottom: 70px;
}
.catalog-page ~ .consultation-bottom {
	padding-bottom: 70px;
}
.btn-main_filter {
	display: none;
}
.thanks {
	padding-top: 45px;
	padding-bottom: 139px;
}
.thanks-block {
	padding-left: 94px;
	color: #fff;
	background-color: #27344B;
}
.title-thanks {
	font-size: 48px;
	line-height: 67px;
	padding-top: 90px;
	padding-bottom: 20px;
}
.descr-thanks {
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 75px;
	max-width: 317px;
}
.image-thanks {
	margin-bottom: -107px;
}
.image-thanks img {
	max-width: 100%;
	height: auto;
}
.personal-page .tabs li {
	flex: initial;
}
.personal-page .tabs {
	max-width: 528px;
	margin: 0 auto;	
	justify-content: space-between;
}
.personal-page .tabs li:nth-child(3) a {
	width: auto;
}
.personal-page .tabs a {
	padding-left: 0;
	padding-right: 0;
}
.personal-block {
	padding: 43px 348px;
	padding-bottom: 61px;
	background-color: #FBFBFB;
}
.item-input {
	margin-bottom: 22px;
}
.item-input input,
.item-input textarea {
	padding: 0 25px;
	font-size: 16px;
	line-height: 22px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 6px;
	height: 50px;
	width: 100%;
	color: #3B3735;
	font-family: 'Geometria';
}
.item-input *::-webkit-input-placeholder {
	color: #3B3735;
}
.item-input *:-moz-placeholder {
	color: #3B3735;
}
.item-input *::-moz-placeholder {
	color: #3B3735;
}
.item-input *:-ms-input-placeholder {
	color: #3B3735;
}
.personal-block__buttons {
	padding-top: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.personal-block__buttons .btn-main {
	margin: 0 13px;
	min-width: 185px;
}
.btn-main_page::before {
	display: none;
}
.btn-main_page {
	border: 1px solid #FFDC04;
	background-color: transparent;
}
.btn-main_page:hover {
	box-shadow: 0 0 20px #fff3ab;
}
.personal-block__descr {
	padding-top: 44px;
	text-align: center;
}
.personal-block__descr strong {
	font-weight: 500;
	white-space: nowrap;
}
.personal-page {
	padding-bottom: 55px;
}
.table-wrap {
	padding: 31px;
	background-color: #FBFBFB;
}
.table-wrap table {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	border-spacing: 0;
}
.table-wrap th {
	padding: 15px 0px;
	color: #FFDC04;
	font-weight: 400;
	background-color: #27344B;
}
.table-wrap th:first-child {
	padding-left: 28px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	text-align: left;
}
.table-wrap th:last-child {
	padding-right: 18px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.table-wrap td {
	padding: 16px 0;
	border-bottom: 1px solid #D9D9D9;
}
.table-wrap tr:last-child td {
	border: none;
}
.name-td {
	font-weight: 500;
	display: block;
	color: #3B3735;
}
.articul-td {
	color: #000;
}
.price-all-td,
.price-td {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}
.price-all-td {
	font-weight: 700;
}
.remove-td {
	font-size: 18px;
	color: #27344b;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s;
}
.remove-td:hover {
	color: #FFB51E;
}
.personal-page .table-wrap td {
	text-align: center;
}
.table-wrap td:nth-child(1) {
	width: 210px;
	padding-left: 28px;
	text-align: left;
}
.table-wrap td:nth-child(2) {
	width: 400px;
	text-align: left;
}
.table-wrap .quantity {
	height: 44px;
	margin: 0 auto;
}
.title-card {
	font-size: 36px;
	line-height: 50px;
	padding-bottom: 36px;
	max-width: 1074px;
}
.slider-nav__item {
	height: 116px;
	max-width: 100%;
	margin: 14px 0;
	border: 1px solid #F5F5F5;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.slider-nav__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav {
	padding: 40px 0;
	max-width: 168px;
}
.slider-nav .slick-arrow {
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: none;
}
.slider-nav .slick-arrow img {
	transform: rotate(90deg);
}
.slider-nav .slick-prev {
	top: 0;
	bottom: auto;
}
.slider-nav .slick-next {
	bottom: 0;
	top: auto;
}
.slider-for {
	margin-left: -30px;
	border: 1px solid #F5F5F5;
}
.slider-for__item {
	height: 515px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
.card-info {
	font-size: 14px;
	line-height: 20px;
	min-height: 100%;
	background-color: #FBFBFB;
}
.card {
	padding-bottom: 94px;
}
.card-info__articul {
	margin-bottom: 18px;
}
.availability {
	padding-left: 21px;
	text-transform: uppercase;
	color: #000;
	position: relative;
}
.availability::before {
	position: absolute;
	display: block;
	content: " ";
	top: 3px;
	left: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #99DD64;
}
.card-info__content {
	padding: 20px 32px;
	border-bottom: 1px solid #D9D9D9;
}
.card-info__title {
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 10px;
	font-weight: 500;
}
.card-info li {
	padding-left: 15px;
	line-height: 22px;
	position: relative;
}
.card-info ul {
	padding-bottom: 15px;
}
.card-info li::before {
	position: absolute;
	display: block;
	content: "●";
	font-size: 10px;
	top: 0;
	left: 0;
}
.card-info__head {
	display: flex;
	justify-content: space-between;
}
.card-info__logo img {
	max-width: 120px;
}
.card-info__logo {
	margin-right: -15px;
}
.card-info__prices {
	margin-bottom: 23px;
	display: flex;
	align-items: flex-end;
}
.card-info .discount-main {
	margin-top: 10px;
	margin-left: 22px;
	background-color: #fff;
}
.card-info .price-ain {
	font-size: 24px;
	line-height: 34px;
}
.card-info__buttons {
	display: flex;
	align-items: center;
}
.card-info .quantity {
	margin-right: 26px;
	height: 44px;
}
.card-info .btn-main {
	min-width: 183px;
}
.card-info .btn-main img {
	margin-left: 15px;
}
.card-info .btn-main::before {
	display: none;
}
.card-info__content:last-child {
	border: none;
} 