/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1540px) {
	.title-section {
		font-size: 37px;
		line-height: 54px;
	}
	body {
		font-size: 15px;
	}
	.list-page {
		font-size: 16px;
		line-height: 28px;
	}
	.slider-benefits .slick-slide,
	.row_benefits > div {
		padding-bottom: 40px;
	}
	.item-offer {
		height: 295px;
	}
	.item-category__title {
		font-size: 22px;
		line-height: 33px;
	}
	.item-category {
		padding-left: 55px;
	}
	.about-info {
		padding-left: 35px;
	}
	.about-logo {
		font-size: 16px;
		line-height: 27px;
	}
	.about-info__vertical {
		font-size: 34px;
	}
	.contacts-line {
		font-size: 18px;
		line-height: 36px;
	}
	.contacts-line__title {
		min-width: 83px;
		margin-right: 16px;
	}
	.contacts-line__phone {
		font-size: 20px;
		line-height: 40px;
	}
	.about-info__center {
		margin-bottom: 20px;
	}
	.list-arrows li {
		margin-bottom: 70px;
	}
	.about-info__button {
		padding-top: 30px;
	}
	.item-client {
		height: 205px;
	}
	.estimation-block {
		padding: 42px 60px;
		padding-bottom: 52px;
	}
	.about-block {
		padding: 57px 105px;
		padding-bottom: 64px;
	}
	.consultation-block {
		padding-left: 60px;
	}
	.tags-list a {
		font-size: 13px;
		line-height: 20px;
		padding: 8px 13px;
	}
	.item-news__image {
		height: 273px;
	}
	.article-content {
		padding-right: 50px;
	}
	.article-content blockquote {
		font-size: 17px;
		line-height: 28px;
		padding: 55px 60px;
		padding-right: 70px;
	}
	.item-sertificat {
		height: 475px;
	}
	.checkbox_main label span {
		padding-left: 55px;
	}
	.cooperation-form {
		padding: 39px 60px;
		margin-right: 25px;
	}
	.cooperation-info {
		padding: 39px 65px;
		padding-bottom: 51px;
		padding-right: 55px;
		font-size: 18px;
		line-height: 26px;
	}
	.vacancies .form-main {
		padding-left: 50px;
		padding-right: 50px;
	}
	.vacancies .title-form {
		font-size: 18px;
	}
	.item-dropdown__head {
		font-size: 20px;
		line-height: 32px;
		padding: 22px 20px;
		padding-left: 34px;
	}
	.item-dropdown__value {
		margin-right: 20px;
	}
	.image-action {
		margin-bottom: 40px;
		height: 280px;
	}
	.item-service__content {
		padding: 45px 55px;
	}
	.item-service__image {
		height: 605px;
	}
	.delivery-block {
		font-size: 19px;
	}
	.delivery-block__title {
		font-size: 22px;
		line-height: 31px;
	}
	.image-delivery img {
		max-width: 750px;
	}
	.delivery-block_right {
		line-height: 28px;
	}
	.form-delivery .title-block {
		padding-left: 45px;
	}
	.form-delivery {
		padding-right: 60px;
	}
	.unit-service__title {
		padding: 32px 30px;
		font-size: 17px;
	}
	.tags-catalog a {
		padding: 5px 19px;
		margin-right: 14px;
		margin-top: 15px;
	}
	.text-section {
		font-size: 17px;
	}
	.personal-block {
		padding-left: 320px;
		padding-right: 320px;
	}
	.item-type {
		font-size: 13px;
		line-height: 16px;
	}
}

@media only screen and (max-width : 1400px) {
	body {
		font-size: 14px;
		line-height: 21px;
	}
	.slider-benefits .slick-slide,
	.row_benefits > div {
		padding: 0 20px;
		padding-top: 15px;
		padding-bottom: 30px;
	}
	.billbord-content {
		padding: 35px 50px;
		min-height: 480px;
	}
	.title-section {
		font-size: 33px;
		line-height: 46px;
	}
	.item-offer__title {
		padding: 15px 8px;
		font-size: 12px;
		line-height: 17px;
	}
	.item-offer {
		height: 250px;
	}
	.row_categories {
		margin-top: 30px;
	}
	.item-category {
		padding: 35px 30px;
		padding-bottom: 45px;
	}
	.item-category__title {
		font-size: 20px;
		line-height: 32px;
	}
	.item-catalog__content {
		padding: 20px;
	}
	.price-main {
		font-size: 18px;
		line-height: 26px;
	}
	.price-old {
		font-size: 13px;
		line-height: 18px;
	}
	.discount-main {
		font-size: 13px;
		line-height: 17px;
		padding: 6px 8px;
	}
	.info-consultation {
		font-size: 16px;
		line-height: 25px;
		padding: 25px 42px;
		padding-right: 17px;
		background-position: 10px 25px
	}
	.consultation-form {
		padding: 30px;
	}
	.checkbox {
		margin-top: 20px;
	}
	.descr-form {
		font-size: 13px;
		line-height: 19px;
		margin-bottom: 15px;
	}
	.consultation-form .btn-main {
		margin-top: 30px;
	}
	.image-conusltation img {
		max-width: 600px;
	}
	.title-big {
		font-size: 40px;
		line-height: 56px;
	}
	.consultation-block .title-big {
		padding-top: 36px;
		margin-bottom: 45px;
	}
	.list-main li {
		margin-bottom: 35px;
	}
	.image-conusltation {
		margin-right: -66px;
	}
	.consultation-block .list-main {
		max-width: 310px;
	}
	.tabs {
		padding: 0 25px;
	}
	.item-portfolio__image {
		height: 300px;
	}
	.about-info {
		padding: 30px 20px;
	}
	.about-logo__image {
		margin-right: 12px;
	}
	.about-logo {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 22px;
	}
	.about-info__list li {
		margin-bottom: 15px;
		padding-left: 20px;
	}
	.about-info__vertical {
		font-size: 31px;
	}
	.list-arrows li {
		margin-bottom: 40px;
	}
	.about-info__button {
		padding-top: 20px;
	}
	.item-client {
		height: 180px;
		padding: 20px;
	}
	.about-block {
		padding: 45px 80px;
	}
	.item-category__list {
		font-size: 14px;
		line-height: 30px;
		right: -27px;
	}
	.item-news__image {
		height: 240px;
	}
	.item-news__content {
		padding: 15px 20px;
		padding-bottom: 20px;
	}
	.item-news__title {
		font-size: 18px;
		line-height: 28px;
	}
	.article-content {
		padding-right: 0;
	}
	.article-content h3 {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.article-content blockquote {
		font-size: 16px;
		line-height: 26px;
		padding: 40px 50px;
	}
	.form-main {
		padding: 40px 25px;
	}
	.contacts-page .descr-form {
		max-width: 263px;
	}
	.item-sertificat {
		margin: 0 20px;
	}
	.slider-sertificats {
		margin: 0 -20px;
	}
	.sertificats-block {
		padding: 51px 70px;
	}
	.sertificats-block .slick-prev {
		left: -33px;
	}
	.sertificats-block .slick-next {
		right: -33px;
	}
	.item-sertificat {
		height: 430px;
	}
	.sertificats-block .title-section {
		padding-bottom: 33px;
	}
	.cooperation-info {
		padding: 40px 35px;
	}
	.title-block {
		font-size: 18px;
	}
	.cooperation-form {
		padding: 39px 40px;
		margin-right: 0;
	}
	.cooperation-info .btn-main {
		margin-top: 30px;
	}
	.cooperation-form .checkbox_main:last-child {
		margin-bottom: 0;
	}
	.vacancies .form-main {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 35px;
	}
	.vacancies .title-form {
		font-size: 17px;
		margin-bottom: 13px;
	}
	.image-action {
		height: 250px;
	}
	.actions-page {
		padding-bottom: 100px;
	}
	.item-service__title {
		font-size: 22px;
		line-height: 34px;
	}
	.item-service__content {
		padding: 35px 35px;
	}
	.item-service__image {
		height: 510px;
	}
	.delivery-block {
		font-size: 18px;
		line-height: 26px;
		padding: 30px 35px;
	}
	.delivery-block__title::before {
		left: -35px;
	}
	.image-delivery img {
		max-width: 675px;
	}
	.form-delivery .title-block {
		padding-left: 30px;
	}
	.form-delivery {
		padding-right: 35px;
	}
	.delivery-block__title {
		font-size: 20px;
		line-height: 31px;
	}
	.service-page .billbord-content {
		padding-top: 50px;
	}
	.service-about .delivery-block {
		padding-right: 70px;
	}
	.service-info > .row:nth-child(even) .service-info__content,
	.service-info__content {
		margin: 0;
	}
	.service-info {
		font-size: 16px;
		line-height: 24px;
	}
	.service-info > .row {
		margin-bottom: 45px;
	}
	.service-test {
		padding: 50px;
		padding-top: 37px;
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 45px;
	}
	.title-main {
		font-size: 30px;
		line-height: 42px;
	}
	.service-offer .title-main {
		max-width: 1075px;
	}
	.unit-service {
		height: 390px;
	}
	.unit-service__title {
		padding: 25px 25px;
		font-size: 16px;
	}
	.tags-catalog a {
		padding: 4px 17px;
		margin-right: 11px;
		margin-top: 14px;
	}
	.item-sorting {
		margin-right: 40px;
	}
	.thanks-block {
		padding-left: 60px;
	}
	.title-thanks {
		font-size: 45px;
		line-height: 62px;
		padding-top: 70px;
	}
	.descr-thanks {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 50px;
		max-width: 289px;
	}
	.image-thanks img {
		max-width: 480px;
	}
	.personal-block {
		padding-left: 260px;
		padding-right: 260px;
	}
	.table-wrap td:nth-child(1) {
		width: 183px;
		padding-left: 15px;
	}
	.table-wrap td:nth-child(2) {
		width: 288px;
	}
	.slider-for {
		margin-left: -15px;
	}
	.slider-for__item {
		height: 435px;
	}
	.slider-nav__item {
		height: 100px;
		margin: 7px 0;
	}
	.card-info__prices {
		margin-bottom: 15px;
	}
	.card-info ul {
		padding-bottom: 0;
	}
	.card-info__articul {
		margin-bottom: 10px;
	}
	.card-info__content {
		padding: 13px 25px;
	}
	.card .tabs {
		padding-right: 90px;
	}
	.item-type {
		font-size: 12px;
		line-height: 14px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.search-form {
		width: 255px;
	}
	.btn-header img {
		margin-right: 8px;
	}
	.soc-link {
		margin-right: 6px;
	}
	.menu li {
		padding: 0 5px;
	}
	.menu-catalog {
		line-height: 20px;
		font-size: 12px;
	}
	.menu-catalog li {
		padding: 0 10px;
	}
	.item-benefit__head {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 14px;
	}
	.slider-benefits .slick-slide,
	.row_benefits > div {
		padding: 0 15px;
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.categories {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.slider-catalog {
		margin-top: 20px;
	}
	.item-category__title {
		font-size: 15px;
		line-height: 25px;
	}

	.consultation-block {
		padding-left: 20px;
	}
	.info-consultation {
		font-size: 14px;
		line-height: 21px;
	}
	.list-main li {
		margin-bottom: 22px;
	}
	.head-portfolio__info {
		padding: 40px 30px;
		font-size: 16px;
		line-height: 26px;
		margin-right: 40px;
		width: 170px;
	}
	.tabs a {
		font-size: 13px;
		line-height: 19px;
		padding: 13px 10px;
	}
	.tabs li:nth-child(3) a {
		width: 222px;
	}
	.item-portfolio__image {
		height: 245px;
	}
	.item-portfolio__content {
		padding: 20px 15px;
	}
	.item-portfolio__title {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 11px;
	}
	.item-portfolio__bottom {
		margin-top: 15px;
		display: block;
	}
	.item-portfolio .btn-main {
		margin-left: 0;
		margin-right: 10px;
		margin-top: 10px;
	}
	.item-portfolio .btn-main:last-child {
		margin-right: 0;
	}
	.advantages-block {
		padding-left: 20px;
	}
	.list-arrows li {
		width: 49%;
	}
	.list-arrows {
		line-height: 20px;
	}
	.clients .title-section {
		padding-bottom: 25px;
	}
	.clients {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.estimation-block {
		padding: 42px 30px;
		padding-right: 0;
		padding-bottom: 45px;
	}
	.estimation-block .title-section {
		margin-bottom: 20px;
	}
	.about-item__title strong {
		font-size: 34px;
		line-height: 51px;
		margin-right: 5px;
	}
	.about-item__title {
		font-size: 18px;
		line-height: 30px;
	}
	.about-item__title sup {
		font-size: 12px;
	}
	.about-block {
		padding: 60px 35px;
	}
	.title-section {
		font-size: 29px;
		line-height: 40px;
	}
	.title-big {
		font-size: 34px;
		line-height: 51px;
	}
	.form-page {
		padding: 30px;
		padding-bottom: 35px;
	}
	.social-list li {
		margin-right: 25px;
	}
	.footer {
		font-size: 12px;
		line-height: 17px;
	}
	.footer__nav_big a, 
	.footer__title {
		font-size: 14px;
	}
	.footer__nav li {
		margin-bottom: 15px;
	}
	.wrapper {
		padding-top: 199px;
	}
	.slider-benefits,
	.row_benefits {
		margin: 0 -15px;
		margin-top: 30px;
	}
	.btn-fixed {
		border-radius: 0;
	}
	.item-category__list {
		font-size: 12px;
		line-height: 26px;
	}
	.item-contact__title {
		font-size: 20px;
	}
	.about-content p {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.sertificats-block {
		padding-top: 30px;
	}
	.item-sertificat {
		margin: 0 10px;
		height: 320px;
	}
	.slider-sertificats {
		margin: 0 -10px;
	}
	.sertificats-block .slick-prev {
		left: -45px;
	}
	.sertificats-block .slick-next {
		right: -45px;
	}
	.cooperation-block {
		padding: 28px 30px;
		padding-bottom: 95px;
	}
	.col_pr {
		padding-right: 15px;
	}
	.cooperation-info {
		padding: 25px 15px;
		font-size: 16px;
		line-height: 24px;
	}
	.cooperation-form__bottom {
		padding-top: 0;
	}
	.cooperation-form {
		padding: 25px 15px;
	}
	.cooperation-block .title-section {
		padding-bottom: 25px;
	}
	.item-dropdown__head {
		font-size: 18px;
		line-height: 30px;
		padding: 22px 20px;
	}
	.item-dropdown__content {
		padding: 0 20px;
		padding-bottom: 40px;
	}
	.vacancies .form-main {
		padding: 30px 20px;
	}
	.image-action {
		height: 220px;
	}
	.item-service__title {
		font-size: 18px;
		line-height: 29px;
	}
	.item-service__image {
		height: 460px;
	}
	.delivery-block {
		font-size: 16px;
		line-height: 25px;
	}
	.image-delivery img {
		max-width: 500px;
	}
	.row_form > div {
		padding: 0 15px;
	}
	.row_form {
		margin: 0 -15px;
	}
	.delivery-block__title {
		font-size: 18px;
		line-height: 29px;
	}
	.descr-billbord {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 55px;
	}
	.service-about .delivery-block {
		padding-right: 35px;
	}
	.service-about {
		padding-bottom: 50px;
	}
	.title-middle {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 15px;
	}
	.service-info {
		font-size: 14px;
		line-height: 22px;
	}
	.service-info p {
		margin-bottom: 15px;
	}
	.service-test .title-section {
		padding-bottom: 25px;
	}
	.service-test__left {
		padding-right: 0;
	}
	.service-test {
		padding: 25px;
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 35px;
	}
	.title-main {
		font-size: 25px;
		line-height: 33px;
	}
	.unit-service {
		height: 330px;
	}
	.unit-service__title {
		padding: 20px 15px;
		font-size: 14px;
		line-height: 23px;
	}
	.service-offer {
		padding-bottom: 45px;
	}
	.service-offer .title-main {
		margin-bottom: 30px;
	}
	.consultation-bottom .btn-main {
		min-width: 180px;
	}
	.service-page ~ .consultation-bottom {
		padding-bottom: 40px;
	}
	.item-filter__content {
		padding: 0 10px;
	}
	.item-filter__head {
		padding: 10px;
	}
	.text-section {
		font-size: 15px;
		line-height: 23px;
		padding-bottom: 50px;
	}
	.catalog-page ~ .consultation-bottom {
		padding-bottom: 50px;
	}
	.image-thanks img {
		max-width: 380px;
	}
	.thanks-block {
		padding-left: 35px;
	}
	.title-thanks {
		font-size: 35px;
		line-height: 48px;
		padding-top: 50px;
	}
	.descr-thanks {
		font-size: 22px;
		line-height: 32px;
		margin-bottom: 40px;
		max-width: 228px;
	}
	.image-thanks {
		margin-bottom: -80px;
	}
	.thanks {
		padding-top: 30px;
		padding-bottom: 110px;
	}
	.personal-block {
		padding-left: 150px;
		padding-right: 150px;
	}
	.table-wrap td:nth-child(2) {
		width: 158px;
	}
	.title-card {
		font-size: 29px;
		line-height: 43px;
		padding-bottom: 30px;
	}
	.item-contact__name {
		font-size: 17px;
		line-height: 29px;
	}
	.item-contact_head {
		min-height: 74px;
	}
	.slider-images__title {
		font-size: 40px;
		line-height: 52px;
		margin-bottom: 10px;
	}
	.slider-images__descr {
		font-size: 32px;
		line-height: 45px;
		margin-bottom: 30px;
	}
	.slider-images__text {
		font-size: 22px;
		line-height: 35px;
	}
	.slider-images__content {
		top: 50px;
		left: 50px;
		max-width: 420px;
	}
	.slider-images__item {
		height: 365px;
	}
	.image-papers {
		margin-top: 0;
		margin-bottom: -70px;
	}
	.col-main {
		width: 33%;
	}
	.item-type {
		font-size: 14px;
		line-height: 17px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-middle .contacts-wrap,
	.header-middle .search-form,
	.header-middle .btn-header,
	.header-top,
	.menu-catalog {
		display: none;
	}
	.header {
		border-bottom: 1px solid #D9D9D9;
	}
	.logo img {
		width: 100px;
	}
	.wrapper {
		padding-top: 68px;
	}
	.slider-benefits .slick-slide:nth-child(even),
	.row_benefits > div:nth-child(even) {
		border: none;
	}
	.billbord-content .title-section {
		max-width: 455px;
	}
	.offers {
		padding-top: 35px;
	}
	.descr-section {
		font-size: 16px;
		line-height: 27px;
	}
	.item-category {
		border: none;
		border-bottom: 1px solid #fff;
	}
	.consultation-block {
		padding-left: 0;
	}
	.title-section {
		font-size: 26px;
		line-height: 34px;
	}
	.consultation-block .title-big {
		margin-bottom: 20px;
	}
	.advantages-block .col-lg-7,
	.consultation-block .col-lg-8 {
		padding: 0 40px;
	}
	.image-conusltation {
		display: none;
	}
	.head-portfolio__info {
		margin-right: 20px;
	}
	.tabs {
		padding-bottom: 10px;
		overflow: auto;
		justify-content: flex-start;
	}
	.advantages-block {
		padding: 0;
	}
	.advantages-block .title-section {
		padding-bottom: 30px;
	}
	.estimation-block {
		padding: 40px 30px;
	}
	.row_about:nth-child(odd) .about-block {
		margin: 0;
	}
	.about-block {
		margin-top: 15px;
	}
	.form-page .item-form {
		margin-bottom: 20px;
	}
	.col-btn {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__nav_big a, .footer__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #fff;
		padding: 10px 0;
		margin: 0;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer .logo {
		margin-bottom: 15px;
	}
	.social-list li {
		margin-right: 32px;
	}
	.footer {
		font-size: 14px;
		line-height: 20px;
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.footer .social-list {
		justify-content: center;
		margin-bottom: 20px;
	}
	.col_pl {
		padding-left: 15px;
	}
	.footer-bottom {
		border: none;
		margin-top: 20px;
		text-align: center;
	}
	.footer-bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.create {
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.footer .container > .row > div:first-child {
		text-align: center;
	}
	.list-page {
		font-size: 14px;
		line-height: 26px;
	}
	.footer__title i {
		font-size: 12px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.sandwich {
		display: inline-flex;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute;
	}
	.menu a {
		margin: 0;
		color: #3B3735;
		padding: 10px;
		display: block;
		position: relative;
		border-bottom: 1px solid #3B3735;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}
	.menu-mobile .contacts-wrap {
		margin-top: 20px;
		text-align: left;
	}
	.menu-mobile .contacts-wrap .link-page {
		margin-top: 10px;
	}
	.search-form {
		width: 100%;
	}
	.header-middle {
		padding: 5px 0;
	}
	.buttons-fixed {
		display: flex;
		bottom: 0;
		width: 100%;
		background-color: #FFB51E;
		justify-content: space-around;
		top: auto;
	}
	.btn-fixed_mob {
		display: flex;
	}
	.prev.page-numbers {
		margin-right: 60px;
	}
	.next.page-numbers {
		margin-left: 60px;
	}
	.page-numbers {
		margin: 0 10px;
	}
	.article-content {
		padding-bottom: 20px;
	}
	.article {
		padding-bottom: 40px;
	}
	.item-sertificat {
		height: 368px;
	}
	.cooperation-form .checkbox_main:last-child,
	.cooperation-form .checkbox_main {
		margin-bottom: 20px;
	}
	.cooperation-form {
		min-height: initial;
		margin-bottom: 20px;	
	}
	.cooperation-info {
		min-height: initial;
	}
	.cooperation-info .title-block {
		padding-bottom: 0;
	}
	.cooperation-info .btn-main {
		margin-top: 0;
	}
	.cooperation-block {
		padding: 25px 30px;
	}
	.vacancies {
		padding-top: 25px;
		padding-bottom: 40px;
	}
	.actions-page {
		padding-bottom: 60px;
	}
	.form-delivery .title-block {
		padding-left: 0;
	}
	.form-delivery {
		padding: 30px;
	}
	.checkbox-mobile {
		justify-content: center;
		display: flex;
	}
	.form-delivery .checkbox {
		margin-top: 20px;
	}
	.row_delivery > div {
		margin-top: 25px;
	}
	.service-page .billbord-content {
		padding-top: 40px;
		margin-bottom: 30px;
		min-height: 360px;
	}
	.descr-billbord {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 35px;
		max-width: 475px;
	}
	.descr-big {
		font-size: 16px;
		line-height: 27px;
	}
	.service-about .row_delivery > div {
		margin-top: 25px;
	}
	.service-info .col-lg-7 {
		order: -1;
	}
	.service-info > .row {
		margin-bottom: 30px;
	}
	.service-info > .row:nth-child(even) .service-info__image {
		display: block;
		justify-content: flex-start;
	}
	.service-test__left {
		display: block;
		margin-bottom: 30px;
	}
	.consultation-bottom .btn-main {
		min-width: 220px;
	}
	.service-about {
		padding-bottom: 30px;
	}
	.item-filter__content {
		padding: 0 20px;
	}
	.item-filter__head {
		padding: 15px 20px;
	}
	.sidebar-filter {
		display: none;
		margin-bottom: 20px;
	}
	.catalog-page {
		padding-bottom: 40px;
	}
	.text-section {
		font-size: 14px;
		line-height: 22px;
		padding-bottom: 30px;
	}
	.sorting-catalog {
		justify-content: flex-start;
	}
	.btn-main_filter {
		padding: 0 35px;
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
	}
	.btn-main_filter::before {
		display: none;
	}
	.btn-main_filter i {
		font-size: 15px;
	}
	.hidden-mob {
		display: none;
	}
	.catalog-page .title-section {
		padding-bottom: 23px;
	}
	.thanks-block {
		padding: 0 30px;
	}
	.title-thanks {
		padding-top: 30px;
	}
	.image-thanks img {
		margin: 0 auto;
	}
	.personal-block__descr { 
		padding-top: 30px;
	}
	.table-wrap {
		padding: 15px;
		margin-right: -15px;
		overflow: auto;
	}
	.table-wrap td:nth-child(2) {
		width: 223px;
	}
	.table-wrap table {
		width: 1000px;
	}
	.table-wrap::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.table-wrap::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.table-wrap::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.table-wrap::-webkit-scrollbar-thumb {
		background-color: #FFDC04;
		border-radius: 10px;
	}
	.table-wrap::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #ccc;
	}
	.image-thanks {
		margin-top: 30px;
	}
	.slider-nav {
		margin-top: 20px;
		max-width: 100%;
		padding: 0 50px;
	}
	.col_for {
		order: -1;
	}
	.slider-nav__item {
		margin: 0 7px;
	}
	.slider-nav .slick-arrow {
		top: 50%;
		bottom: auto;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	.slider-nav .slick-prev {
		left: 0;
		right: auto;
	}
	.slider-nav .slick-next {
		right: 0;
		left: auto;
	}
	.slider-nav .slick-arrow img {
		transform: rotate(0deg);
	}
	.card-info {
		margin-top: 20px;
		min-height: auto;
	}
	.title-section_recomendation {
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.card {
		padding-bottom: 50px;
	}
	.card .tabs {
		margin-top: 35px;
	}
	.card .tabs {
		padding-right: 25px;
	}
	.card .tabs {
		padding-bottom: 0;
	}
	.card .tabs a {
		padding: 15px 5px;
	}
	.slider-for {
		margin-left: 0;
	}
	.item-contact_requisites {
		margin-left: 0;
	}
	.form-delivery {
		margin-bottom: 25px;
	}
	.image-papers {
		margin-top: -40px;
		margin-bottom: -58px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.billbord-content {
		padding: 25px 20px;
		min-height: 430px;
	}
	.slider-benefits .slick-slide,
	.row_benefits > div {
		padding: 0 15px;
		border: none;
	}
	.item-offer {
		width: 160px;
	}
	.slider-offers {
		margin-right: -15px;
		margin-top: 30px;
	}
	.categories {
		padding-bottom: 40px;
	}
	.catalog {
		padding-top: 25px;
		padding-bottom: 45px;
	}
	.slider-clients .slick-prev,
	.slider-catalog .slick-prev {
		left: 0;
	}
	.slider-clients .slick-next,
	.slider-catalog .slick-next {
		right: 0;
	}
	.slider-catalog .slick-arrow {
		top: 45%;
	}
	.consultation-block {
		border-radius: 0;
	}
	.title-big {
		font-size: 27px;
		line-height: 40px;
	}
	.consultation-block .title-big {
		padding-top: 25px;
	}
	.info-consultation {
		border-radius: 0;
	}
	.head-portfolio {
		display: block;
	}
	.head-portfolio__info {
		width: 100%;
		margin-bottom: 20px;
		border-bottom-right-radius: 20px;
	}
	.tabs {
		margin-right: -15px;
	}
	.list-arrows li {
		width: 100%;
		margin-bottom: 20px;
	}
	.estimation-block .item-form {
		margin-bottom: 19px;
	}
	.estimation-block__buttons {
		display: block;
	}
	.estimation-block__buttons .btn-main {
		margin-top: 30px;
		width: 100%;
	}
	.file-upload label {
		display: flex;
		justify-content: center;
	}
	.about {
		padding-top: 30px;
	}
	.about-block {
		padding: 20px 15px;
	}
	.row_about:nth-child(odd) .about-block {
		margin-top: 20px;
	}
	.slider-benefits .slick-slide {
		width: 60vw;
		border-right: 1px solid #D9D9D9 !important;
	}
	.about-item {
		max-width: 100%;
	}
	.item-category__list {
		font-size: 14px;
		line-height: 28px;
		right: 0;
	}
	.tags-list {
		flex-wrap: nowrap;
		overflow: auto;
		margin-right: -15px;
		margin-bottom: 25px;
		white-space: nowrap;
	}
	.tags-list::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tags-list::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tags-list::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tags-list::-webkit-scrollbar-thumb {
		background-color: #FFDC04;
		border-radius: 10px;
	}
	.tags-list::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #ccc;
	}
	.article h1 {
		font-size: 28px;
		line-height: 38px;
		margin-bottom: 20px;
	}
	.article-content blockquote {
		font-size: 14px;
		line-height: 22px;
		padding: 25px 25px;
		margin-bottom: 25px;
	}
	.article-content p {
		margin-bottom: 15px;
	}
	.article-content ul {
		margin-bottom: 15px;
	}
	.breadcrumbs {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		padding: 13px 0;
		margin: 0 -15px;
		margin-bottom: 10px;
		padding-left: 15px;
	}
	.breadcrumbs li {
		padding: 6px 10px;
		background: #fff;
		box-shadow: 0 0 4px #ddd;
		border-radius: 30px;
		margin-right: 10px;
	}
	.breadcrumbs li::after,
	.breadcrumbs li span {
		display: none;
	}
	.item-contact__title {
		margin-bottom: 3px;
	}
	.contacts-page .breadcrumbs {
		padding-bottom: 13px;
	}
	.item-contact {
		padding-left: 20px;
		margin-bottom: 20px;
	}
	.item-contact::before {
		width: 3px;
		height: 30px;
		top: 2px;
	}
	.form-main {
		padding: 25px;
	}
	.clients-page .title-section {
		padding-bottom: 20px;
	}
	.row_clients .item-client {
		border-right: 1px solid #D9D9D9;
	}
	.row_clients > div:first-child .item-client {
		border-top: 1px solid #D9D9D9;
	}
	.sertificats-block {
		margin: 0 -15px;
		padding: 30px 15px;
		padding-bottom: 45px;
	}
	.item-sertificat {
		max-width: 300px;
		height: 405px;
		margin: 0 auto;
	}
	.sertificats-block .slick-prev {
		left: 15px;
	}
	.sertificats-block .slick-next {
		right: 15px;
	}
	.clients-page {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.about-page ~ .consultation {
		padding-bottom: 35px;
	}
	.about-page .about-block {
		padding-right: 20px;
	}
	.cooperation-form__bottom {
		flex-direction: column-reverse;
	}
	.cooperation-form .btn-main {
		margin-bottom: 20px;
	}
	.cooperation {
		padding-bottom: 45px;
	}
	.item-dropdown__head {
		display: block;
	}
	.item-dropdown__arrow {
		top: 20px;
		right: 15px;
		position: absolute;
	}
	.item-dropdown__head {
		padding-right: 50px;
		position: relative;
	}
	.text-block {
		padding-top: 35px;
	}
	.text-block .descr-section {
		padding-bottom: 20px;
	}
	.text-block p {
		margin-bottom: 15px;
	}
	.services-page {
		padding-top: 25px;
		padding-bottom: 30px;
	}
	.delivery-page .tabs {
		margin-right: -15px;
		white-space: nowrap;
	}
	.delivery-page .tabs li {
		margin-right: 15px;
	}
	.personal-page .tab-container,
	.delivery-page .tab-container {
		padding-top: 25px;
	}
	.descr-big br {
		display: none;
	}
	.descr-big {
		font-size: 14px;
		line-height: 23px;
	}
	.service-test .title-section {
		padding-bottom: 15px;
	}
	.title-main {
		font-size: 18px;
		line-height: 25px;
	}
	.service-offer .title-main {
		margin-bottom: 20px;
	}
	.slider-services {
		margin-right: -15px;
	}
	.unit-service {
		width: 260px;
	}
	.service-test p {
		margin-bottom: 15px;
	}
	.tags-catalog {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		margin-right: -15px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	.item-sorting {
		margin-right: 25px;
	}
	.descr-thanks {
		font-size: 18px;
		line-height: 28px;
		max-width: 189px;
	}
	.title-thanks {
		font-size: 32px;
		line-height: 44px;
	}
	.personal-page .tabs {
		padding-bottom: 0;
	}
	.personal-block {
		padding: 30px 30px;
	}
	.personal-block__buttons {
		padding-top: 0;
	}
	.personal-page {
		padding-bottom: 40px;
	}
	.title-card {
		font-size: 22px;
		line-height: 39px;
		padding-bottom: 20px;
	}
	.slider-for__item {
		height: 365px;
	}
	.slider-nav__item {
		height: 75px;
	}
	.card .tab-container {
		padding-top: 25px;
	}
	.item-contact_head {
		min-height: initial;
	}
	.slider-images {
		padding-bottom: 30px;
	}
	.slider-images__content {
		top: 0;
		left: 0;
		padding: 20px 30px;
		max-width: 100%;
	}
	.slider-images__title {
		font-size: 30px;
		line-height: 45px;
	}
	.slider-images__descr {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 25px;
	}
	.slider-images__text {
		font-size: 18px;
		line-height: 30px;
	}
	.slider-images__item {
		height: 270px;
	}
	.slider-images {
		margin-bottom: 30px;
	}
	.col-main {
		width: 50%;
	}
	.slider-for .slick-prev {
		left: 0;
	}
	.slider-for .slick-next {
		right: 0;
	}
	.slider-for {
		padding: 0 35px;
	}
	.slider-for__item {
		height: 310px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.billbord-content {
		margin: 0 -15px;
		position: relative;
		z-index: 1;
		background-position: 65% 50%;
	}
	.billbord-content::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: rgba(30, 39, 56, 0.4);
	}
	.title-section {
		font-size: 23px;
		line-height: 29px;
	}
	.slider-benefits .slick-slide {
		width: 80vw;
	}
	.item-offer {
		width: 195px;
	}
	.consultation-form {
		padding: 30px 20px;
	}
	.tabs {
		padding-left: 10px;
		padding-right: 10px;
	}
	.item-portfolio .btn-main {
		padding: 0 10px;
		flex-grow: 1;
	}
	.advantages-block .col-lg-7 {
		padding: 0 30px;
	}
	.list-arrows li {
		padding-left: 54px;
	}
	.about-logo__image img {
		max-width: 104px;
	}
	.item-client {
		border: none;
	}
	.clients {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.clients .title-section {
		padding-bottom: 15px;
	}
	.form-page,
	.estimation-block {
		padding: 30px 20px;
	}
	.page-numbers {
		margin: 0 5px;
	}
	.prev.page-numbers {
		margin-right: auto;
		margin-left: 0;
	}
	.next.page-numbers {
		margin-left: auto;
		margin-right: 0;
	}
	.portfolio-page {
		padding-bottom: 38px;
	}
	.portfolio-page ~ .consultation {
		padding-bottom: 40px;
	}
	.item-news__image {
		height: 215px;
	}
	.row_news > div {
		margin-bottom: 25px;
	}
	.article h1 {
		font-size: 24px;
		line-height: 30px;
	}
	.article-content blockquote {
		border-width: 3px;
	}
	.article-content h3 {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 15px;
	}
	#map {
		height: 350px;
		margin-top: 25px;
	}
	.about-page .about-block {
		margin-bottom: 25px;
	}
	.item-sertificat {
		max-width: 260px;
		height: 355px;
	}
	.sertificats-block .slick-prev {
		left: 0;
	}
	.sertificats-block .slick-next {
		right: 0;
	}
	.sertificats-block .title-section {
		padding-bottom: 25px;
	}
	.cooperation-block {
		margin: 0 -15px;
		padding: 25px 15px;
	}
	.item-dropdown__head {
		font-size: 16px;
		line-height: 26px;
		padding: 20px 15px;
		padding-right: 50px;
	}
	.item-dropdown__arrow {
		top: 13px;
		right: 15px;
	}
	.item-dropdown__content {
		padding: 0 15px;
		padding-bottom: 35px;
	}
	.item-dropdown__content br + br {
		display: none;
	}
	.image-action {
		height: 175px;
		margin-bottom: 25px;
	}
	.actions-page {
		padding-bottom: 45px;
	}
	.item-service__image {
		height: 420px;
	}
	.delivery-block {
		font-size: 14px;
		line-height: 23px;
		padding: 25px 20px;
	}
	.delivery-block__title::before {
		left: -20px;
		height: 30px;
		width: 3px;
	}
	.image-delivery img {
		max-width: 400px;
	}
	.form-delivery {
		padding: 25px 20px;
	}
	.form-delivery .title-block br {
		display: none;
	}
	.delivery-block__title {
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 15px;
	} 
	.delivery-page {
		padding-bottom: 45px;
	}
	.delivery-block br + br {
		display: none;
	}
	.descr-billbord {
		font-size: 14px;
		line-height: 23px;
	}
	.service-about .delivery-block {
		padding-right: 20px;
	}
	.service-offer {
		padding-bottom: 35px;
	}
	.service-page ~ .consultation-bottom .title-big {
		font-size: 23px;
		line-height: 34px;
	}
	.service-test {
		padding-left: 20px;
		padding-right: 20px;
	}
	.sorting-title {
		margin-right: 0px;
		width: 100%;
	}
	.item-sorting {
		margin-top: 5px;
		margin-right: 15px;
	}
	.sorting-catalog {
		margin-bottom: 15px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.catalog-page .pager {
		margin-top: 25px;
	}
	.thanks-block {
		padding: 0 20px;
	}
	.title-thanks {
		font-size: 26px;
		line-height: 39px;
	}
	.descr-thanks {
		font-size: 16px;
		line-height: 27px;
		max-width: 165px;
	}
	.image-thanks img {
		max-width: 100%;
		margin: 0 auto;
	}
	.personal-block {
		padding: 25px 20px;
	}
	.personal-block__buttons {
		flex-direction: column;
		align-items: center;
	}
	.personal-block__buttons .btn-main {
		margin: 8px 0;
	}
	.personal-block__descr {
		padding-top: 10px;
	}
	.slider-for__item {
		height: 320px;
	}
	.slider-nav {
		padding: 0;
	}
	.card-info__title {
		font-size: 14px;
		line-height: 20px;
	}
	.slider-nav .slick-prev {
		left: -12px;
	}
	.slider-nav .slick-next {
		right: -12px;
	}
	.card .tabs a {
		padding: 15px 0px;
	}
	.card .tabs {
		padding: 0 5px;
		justify-content: space-between;
		margin-right: 0;
	}
	.slider-images__title {
		font-size: 26px;
		line-height: 36px;
	}
	.slider-images__descr {
		font-size: 20px;
		line-height: 31px;
	}
	.slider-images__text {
		font-size: 16px;
		line-height: 28px;
	}
	.slider-images__content {
		padding: 20px;
	}
	.image-papers {
		margin-top: -20px;
		margin-bottom: -46px;
	}
	.col-main {
		width: 100%;
	}
	.row_types .col-main {
		margin-top: 15px;
	}
	.item-type {
		text-align: center;
		padding: 10px 15px;
	}
	.item-type__image {
		margin-bottom: 15px;
	}
	.slider-for {
		margin: 0 -15px;
	}
	.slider-for__item {
		height: 285px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.row_clients > div:nth-last-child(-n+3) .item-client {
		border-bottom: none;
	}
	.row_clients > div:nth-child(3n) .item-client {
		border-right: 1px solid #D9D9D9;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.footer__content {
		display: block;
	}
	.menu-mobile {
		display: none !important;
	}
	.row_clients > div:nth-last-child(-n+4) .item-client {
		border-bottom: none;
	}
	.row_clients > div:nth-child(4n) .item-client {
		border-right: 1px solid #D9D9D9;
	}
	.show-mob {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1400px) {
	.container {
		max-width: 1380px;
	}
}
@media (min-width: 1540px) {
	.container {
		max-width: 1470px;
	}
}